<div class="container">
  <div class="row">
    <div class="col-12"><h1 style="text-align: center;">Welcome to Iron Eagle Tours</h1></div>
  </div>
  
  <div class="row"><div class="col-12" style="height: 4rem;"></div></div>
  <div class="row">
    <div class="col-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header">Header</div> -->
        <img class="card-img" src="../assets/images/TajMahal.png">
        <div class="card-body">
          <h5 class="card-title">Taj Mahal</h5>
          <p class="card-text">Named the Taj Mahal in honor of Mumtaz Mahal, the mausoleum was constructed of white marble inlaid with semi-precious stones (including jade, crystal, lapis lazuli, amethyst and turquoise) forming intricate designs in a technique known as pietra dura.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <!-- <div class="card-header">Header</div> -->
        <img class="card-img" src="../assets/images/Delhi_Red_fort.jpg">
        <div class="card-body">
          <h5 class="card-title">Red Fort</h5>
          <p class="card-text">The Red Fort houses several structures inside its premises. The most well known among all these are the Diwan-i-Aam, the Diwan-i-Khaas, the Moti Masjid and the Nahr-i-Bashisht (stream of paradise).</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <img class="card-img" src="../assets/images/TirumalaTemple.jpg">
        <div class="card-body">
          <h5 class="card-title">Venkateswara Temple, Tirumala</h5>
          <p class="card-text">Venkateswara Temple is a landmark Vaishnavite temple situated in the hill town of Tirumala at Tirupati in Chittoor district of Andhra Pradesh, India.</p>
        </div>
      </div>
    </div>
  </div>
</div>